@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");
img {
	display: none;
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0px;
	overflow-x: hidden;
}
* {
	font-family: "Open Sans", sans-serif;
}
.header {
	.header__introduction {
		$headerbackground: rgb(123, 113, 255);
		position: relative;
		background: linear-gradient(180deg, $headerbackground 50%, white 50%);
		height: 100vh;
		display: flex;
		h1 {
			padding: 30px 0 30px;
			background-color: white;
			text-align: center;
			width: fit-content;
			margin: auto;
			border: 5px solid $headerbackground;
			color: $headerbackground;
			border-radius: 20px;
			font-size: 25px;
		}
		h2 {
			display: none;
		}
	}
}

.whypython {
	padding: 20px;
	height: 100vh;
	ul {
		list-style: none;
		// background-color: red;
		width: fit-content;
		margin: auto;
	}

	ul li:before {
		color: rgb(33, 218, 33);
		content: "✓ ";
		font-weight: 800;
		// font-size: 15px;
	}
	li {
		margin-top: 60px;
	}
	h2 {
		margin: auto;
		width: fit-content;
		text-align: center;
	}
}

@media screen and (min-width: 900px) {
	.header {
		.header__introduction {
			h1 {
				padding: 30px;
				border-radius: 20px;
			}
		}
	}
}
